$max-width: 1115px;

// COLORS
$dark: #293241;
$light: #e0fbfc;
$cta: #ee6c4d;
$neutral-dark: #3d5a80;
$neutral-light: #98c1d9;

$error: rgb(192, 18, 18);

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700;900&family=Lobster&display=swap');

$font-text: 'Comfortaa', cursive;
$font-heading: 'Lobster', cursive;
